*{
    padding: 0px;
    margin: 0px;
    background-attachment: fixed;
  
  

    box-sizing: border-box;
    scroll-behavior: smooth; 
}
.nav{
    width: 100%;
    padding-top: 30px;
    padding-right: 90px;
    height: 80px;

    position: fixed;
    background-color: white;
    

  
   
  
    

    
}
header{
    display: flex;
    justify-content: space-around;
   
    
 
   
}

header ul{
    display: flex;
    list-style: none;

   
}
#bar{
    display: none;
}

.nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    margin: 15px;
 
}
.nav ul li a:hover{
    color: #42c3e3;
}
.nav img{
   margin-top: 1px;
   width: 170px;
   height: 30px;
 
}

#get{
    color: rebeccapurple;
    border: 1px solid rgb(179, 171, 171);
    padding: 8px;
    border-radius: 8px;
  
   
}

#get:hover{
    background-color: #3742fa;
    color: white;
}
.main{
    width: 100%;
    height: 800px;
    display: flex;
    padding-top: 150px;
    justify-content: space-around;
 
    
   
    
}
.main .main-text p{
    font-size: 25px;
}
.main .main-text h1{
   font-size: 70px;
}
.main img{
    width: 400px;
    height: 350px;
    padding-bottom: 100px;
    
    
   

}



#move-img{
    animation-name:  move ;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 2s;

}
@keyframes move {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(30px);

    }
    100%{
        transform: translateY(0px);
    }
    
}

.main p{
    padding-top: 10px;
    font-size: 20px;
}
.main h1{
    font-size: 40px;
}
.main .main-image{
    padding-left: 100px;
 

}
.main .main-text{
    padding-right: 100px;
    list-style: none;
    font-size: 20px;
}


.start-scrole{
    background-color: #34ace0;
    color: rgb(6, 6, 6);
    width: 80px;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    padding-top: 7px;
  
   
}

.start-scrole a{
    font-size: 25px;
    text-decoration: none;
    color: black;
    text-align: center;
   
  
}

.start-scrole:hover{
    background-color: #3742fa;
    transform: translate(1.1);
    cursor: pointer;
}
/* about us */
.cards{
   
   
    text-align: center;
    display: flex;
   justify-content: center;
    
}
.about-us {
    display: flex;
    width: 100%;
    height: 300px;
    justify-content: center;
   

   
}


.card-content{
    width: 40.20em;
    height: 200px;
    background-color:    #e9eff5;
    border-radius: 10px;
    padding: 25px;
    margin: 10px;
    font-size: 20px;
   
   
  
    
   

}


.card-content .card-pic img{
    height: 400px;
    height: 250px; 
}
.card-content .card-text{
    color: rgb(24, 26, 25);
}

.card-content .card-text button{
    width: 150px;
    height: 40px;
    border-radius: 25px;
}







.about-us-foter{
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
    justify-content: center;
    font-size: 20px;

    


}


.about-us-foter .about-us-content{
    padding-top: 30px;
}

.about-us-foter p{
    font-size: 20px;
}

 .about-us-foter img{
    width: 600px;
    height: 500px;
 
   
}










/* card servise */
.service-card{
   
    text-align: center;
    background-color:  #e9eff5;
    padding-top: 10px; 
    display: flex;
    flex-wrap: wrap;
   
    
  
 
  
 
   
   
}
.service-card .card-content{
    background-color:     white;
    height: 150px;
    border-radius: 10px;
    width: calc(100% / 5);

  
    
}

.services .servise-test{
    text-align: center;
    font-size: 20px;
  
   
}
.services .servise-test h1{
    font-size: 35px;

}
.card-content .card-text h2{
    cursor: pointer;

}
.card-content .card-text h2:hover{
    color: aqua;

}


.card-content .card-logo i{
    color:  #0088aa;
    font-size: 30px;
  
}



.service-card {
  display: flex;
  justify-content: center;
  height: 700px;
 
}


.service-tet{
    text-align: center;
    font-size: 20px;
    background-color:  #e9eff5; 
    width: 100%;
    padding-top: 60px;
    padding-bottom: 40px;
 
}
.service-tet h1{
    padding-bottom: 20px;
}


.cont-us{
    width: 100%;
    height: 800px;
    font-size: 20px;
    text-align: center;
    padding-top: 16px;
    display: flex;
    background-color:white;
    justify-content: space-evenly;
    
    
   

    
  
    
}

.car{
    color: #0088aa;
    text-align: center;
    font-size: 30px;
}



/* fooooooooooooooooooooooooooooorm */
.cont-text{
    background-color:white;
    text-align: center;
    padding-top: 80px;
    font-size: 20px;
    padding-bottom: 20px;

}

.container-form {
    background-color:  #e9eff5;
    width: 40%;
    height: 600px;
    border-bottom:  #00aacc 3px solid;
    padding: 30px;
    
    
   
}
#start-scrole {
    
 
}
.cont-us .cont-us-map{
    background-color:  #e9eff5;
    width: 30%;
    height: 600px;
    border-bottom:  #00aacc 3px solid;
  
    

 
   
 }
 

.cont-us ul{

    list-style: none;
    text-align: right;
    padding-top: 30px;
    margin: 30px;
   
}
.cont-us-map h1 span{
    color: rgb(18, 16, 16);
    float: left;
    cursor: pointer;
}
.cont-us-map h1 span:hover{
    color: red;
}
.cont-us-map p{
    color: rgb(83, 79, 74);
}




h2 {
    text-align: center;
}
label {
    display: flex;
    margin: 10px 0 01px;
}
input, select, textarea {
    width: 100%;
    padding: 10px;
    margin: 01px 0 15px;
   
  
}
input[type="submit"] {
    width: auto;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    padding: 15px 20px;
    align-items: center;
}
input[type="submit"]:hover {
    background-color: #45a049;
}
input{
    border-radius: 10px;
    background-color: white;
}
.container-form .ii{
    
    display: inline-flex;  
   
}
.container-form .ii input{
    width: 350px;
}
.container .iii{
    display: block;

    
}
.container-form .iii label{
    justify-content:last baseline
}


/* fooooooooooooooooooooooooooooorm */



.cont-us .cont-text{
    color:black;
    font-size: 40px;
    padding-bottom: 60px;
    
  
}








.cont-us form textarea{
    display: block;
}
.cont-us .cont-text h1{
    font-size: 30px;
}








footer{
    text-align: center;
    width: 100%;
    height: 300px;
   display: flex;
    background-color:  #e9eff5;
    justify-content: center;
    align-items: end;
    padding-bottom: 30px;

   
 
    
}


footer .footer-text{
    display: flex;
   
    color: rgb(2, 2, 2);
    align-items: center;

   
   width: 70%;
  
    
    
   
 

 
}

footer .footer-text p{
    font-size: 1.2em;
  
    width: 60%;
    flex-wrap: wrap;
    padding-top: 10px;
  
 

   

}
    

.footer-text span{
    color: rgb(23, 187, 67);
}
.footer-log {
    background-color:  #e9eff5;
    padding-top: 20px;
}
.footer-log h1{
    font-size: 3em;
    text-align: center;
}
.footer-log .icon{
    font-size: 2em;
    padding-top: 30px;
    text-align: center;
    cursor: pointer;
    
}

.footer-log .icon i:hover{
    background-color: #0088aa;
    color: #deeaf6;
}

form button {
    background-color: #00aacc;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.contact-form button:hover {
    background-color: #0088aa;
}

.main button {
    background-color: #00aacc;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.contact-form button:hover {
    background-color: #0088aa;
}

footer .footer-text{
    text-align: center;
    border-top: 3px solid rgb(89, 81, 81);
    width: 50%;
}


footer .footer-text p{
    font-size:20px;
  
    width: 70%;
    flex-wrap: wrap;
    padding-top: 10px;
    align-items: center;
    padding-left: 50px;

}



















/* ----------------------------------- */



  @media (max-width: 1440px){
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
 
    .nav img{
        width: 100px;
        height: 26px;
      
      
     }
     iframe{
        width: 380px;
        height: 270px;
    }
    .container-form .ii input{
        width: 250px;
    }
    .card-content{
        width: 30.20em;

    }
  
    @media (max-width: 1200px){

        iframe{
            width: 350px;
            height: 250px;
        }
        .container-form .ii input{
            width: 210px;
        }
        footer .footer-text{
            width: 70%;
            
        }



    }



    @media (max-width: 1200px){

        iframe{
            width: 310px;
            height: 200px;
        }
        .container-form .ii input{
            width: 200px;
        }
        .about-us-foter img{
            width: 500px;
            height: 400px;
         
           
        }
        footer .footer-text{
            width: 70%;
            
        }
    }

  
    
    @media (max-width: 1000px){
    

        iframe{
            width: 290px;
            height: 170px;
        }
        .container-form .ii input{
            width: 170px;
        }
        .about-us-foter img{
            width: 400px;
            height: 300px;
         
           
        }
        .about-us-foter p{
            font-size: 16px;
        }
        footer .footer-text p{
            font-size: 13px;
        }
        footer .footer-text{
            width: 70%;
            
        }
       
    }

      
    @media (max-width: 992px){
        .nav {
            display: none;
        }
    

        iframe{
            width: 290px;
            height: 170px;
        }
        .container-form .ii input{
            width: 170px;
        }
        .about-us-foter img{
            width: 340px;
            height: 270px;
         
           
        }
        .about-us-foter p{
            font-size: 16px;
        }
        footer .footer-text p{
            font-size: 13px;
        }
        footer .footer-text{
            width: 70%;
            
        }
        .card-text h2{
            font-size: 25px;
        }
       
    }


    @media (max-width: 791px){
      
        .nav .bar{
            display: block;
        }
        #home .main-text p{
            font-size: 17px;
        }
        #home .main-text h1{
            font-size: 35px;
        }
        #home .main-image img{
            display: block;
            margin: auto;
            width: 250px;
            height: 300px;
            
        }
        #bar{
            display: block;
        }
    

        iframe{
            width: 220px;
            height: 120px;
            background-color: #0088aa;
        }
        .container-form .ii input{
            width: 125px;
        }
        .about-us-foter img{
            width: 340px;
            height: 270px;
         
           
        }
        .about-us-foter p{
            font-size: 16px;
        }
        footer .footer-text p{
            font-size: 13px;
        }
        footer .footer-text{
            width: 70%;
            
        }
        .card-text h2{
            font-size: 25px;
        }
        .cont-us-map p{
            font-size: 17px;

        }
       
    }
    




    @media (max-width: 992px){
        .nav {
            display: none;
        }
        .main{
            height: 700px;
       
        }
        .main img{
            width: 250px;
            height: 350px;
        }
    

        iframe{
            width: 370px;
            height: 270px;
        }
        .container-form .ii input{
            width: 165px;
        }
        .about-us-foter img{
            width: 340px;
            height: 270px;
            display: block;
            margin: auto;
         
           
        }
        .about-us-foter p{
            font-size: 16px;
        }
        footer .footer-text p{
            font-size: 13px;
        }
        footer .footer-text{
            width: 70%;
            
        }
        .card-text h2{
            font-size: 25px;
        }
        #contact{
          
            width: 100%;
            height: 1200px;
            
           
           
        }
        .container-form{
            width: 40%;
            height: 550px;
           
          
        }
        .cont-us .cont-us-map{
            width: 40%;
            height: 550px;
           
          
        }
        .cont-us .cont-us-map h1{
            font-size: 20px;
        }

        #about .cards{
            display: block;
            width: 100%;
            height: 500px;
            margin: auto;
        }
        #about .cards .card-content{
            width: 450px;
          margin: auto;
            height: 200px;
           
            
            
         
            
            
        }

       
        #custm {
            display: flex;
            justify-items: center;

        }
        #custm .about-us-content{
           
            text-align: center;
        }
        #custm .img-content{
            align-content: center;
        }
        #custm .img-content{
            display: flex;
            
        }
        #custm .img-content {
            padding-right: 120px;
            
            
        }


        .service-card{
            flex-wrap: wrap;
        }
        .service-card .card-content{
            width: calc(100% / 4);
         
           
           
            
         
        
          
            
        }
       
       
    }
    @media (max-width: 792px){
        
        
        .main img{
            width: 250px;
            height: 350px;
        }
    

        iframe{
            width: 290px;
            height: 170px;
        }
        .container-form .ii input{
            width: 125px;
        }
        .about-us-foter img{
            width: 340px;
            height: 270px;
            display: block;
            margin: auto;
         
           
        }
        .about-us-foter p{
            font-size: 16px;
        }
        footer .footer-text p{
            font-size: 13px;
        }
        footer .footer-text{
            width: 70%;
            
        }
        .card-text h2{
            font-size: 25px;
        }
        #contact{
          
            width: 100%;
            height: 1200px;
            
           
           
        }
        .container-form{
            width: 40%;
            height: 550px;
           
          
        }
        .cont-us .cont-us-map{
            width: 40%;
            height: 550px;
           
          
        }
        .cont-us .cont-us-map h1{
            font-size: 20px;
        }

        #about {
            display: block;
            width: 100%;
            height: 500px;
        }
        #about .card-content{
            width: 450px;
          
            height: 200px;
            
            
         
            
            
        }

       
        #custm {
            display: flex;
            justify-items: center;

        }
        #custm .about-us-content{
           
            text-align: center;
        }
        #custm .img-content{
            align-content: center;
        }
        #custm .img-content{
            display: flex;
            
        }
        #custm .img-content {
            padding-right: 120px;
            
            
        }


        .service-card{
            flex-wrap: wrap;
        }
        .service-card .card-content{
            width: calc(100% / 4);
         
           
           
            
         
        
          
            
        }
       
    }








    @media (max-width: 592px){
        iframe{
            width: 300px;
            height: 250px;
        }
        .container-form .ii input{
            width: 175px;
        }
        .main{
            width: 100%;
            height: 800px;
            display: block;
            padding-top: 150px;
            margin: auto;
            
         
        }
        #custm{
            display: block;
           
        }
        #about{
            width: 100%;
            display: block;
        }
        #about .card-content{
      
           
            height: 300px;
           

        }
        #contact{
            display: block;
            height: 1200px;
           
            
        }
        #contact .cont-us-map{
            width: 70%;
            height: 500px;
            margin: auto;
            padding-bottom: 100px;
           
            
           
        }
        #contact .container-form{
            width: 70%;
            height: 500px;
            margin: auto;
            display: block;
            padding-top: 20px;
            
           
            
        }


        @media (max-width: 391px){

            iframe{
                width: 220px;
                height: 250px;
            }
            .container-form .ii input{
                width: 100px;
            }
            #about{
                width: 100%;
                height: 100vh;
                display: block;
                
            }
            
            #about .card-content{
              
            
             
                height: 30px;
                
             
             

            
        }
        footer{

            background-color: #0088aa;
            width: 100%;
            
        }
        .about-us-foter img {
            width: 240px;
            height: 180px;
            display: block;
            margin: auto;
            padding-left: 40px;
          


        }
        #about .cards .card-content {
            width: 300px;
            margin: auto;
            height: 300px;
            margin: 40px;
        }
        .about-us-foter p {
            font-size: 15px;
        }
        .about-us-foter{
            padding: 40px;
            margin: auto;
           
        }
        .service-card {
            flex-wrap: wrap;
            width: 100%;
            height: 1000px;
           
        }
        .service-card .card-content{
            
            height: 150px;
            border-radius: 10px;
            width: calc(100% / 3);
        
          
            
        }


       

    }


    @media (max-width: 592px){
        iframe{
            width: 280px;
            height: 250px;
        }
        .container-form .ii input{
            width: 130px;
        }

    }
    
    @media (max-width: 562px){
        iframe{
            width: 350px;
            height: 250px;
        }
        .container-form .ii input{
            width: 159px;
        }
        #contact .container-form {
            margin: auto;
        
        }
        
        

    }

    @media (max-width: 414px){
        iframe{
            width: 250px;
            height: 250px;
        }
        .container-form .ii input{
            width: 120px;
        }

        .about-us-foter img {
            margin: auto;
        }
        #custm .img-content {
            padding-right: 20px;
        }
        .service-card .card-content {
            width: calc(100% / 4);
            width: 115px;
        }

    }
    @media (max-width: 390px){
        iframe{
            width: 250px;
            height: 250px;
        }
        .container-form .ii input{
            width: 105px;
        }

      

    }

    @media (max-width: 490px){
        iframe{
            width: 250px;
            height: 250px;
        }
        .container-form .ii input{
            width: 125px;
        }
        .service-card .card-content {
            width: calc(100% / 2);
            width: 115px;
        }
        .service-card .card-content {
            width: calc(100% / 3);
            
        }
        .service-card {
            height: 1000px;
            flex-wrap: wrap;
        }

      

    }
    @media (max-width: 490px){
        iframe{
            width: 230px;
            height: 230px;
        }
        .container-form .ii input{
            width: 105px;
        }
    }

    @media (max-width: 280px){
        iframe{
            width: 230px;
            height: 230px;
            back
            
        }

        .container-form .ii input{
            width: 105px;
        }
    }
    @media (max-width: 1501px){
        iframe{
            width: 230px;
            height: 230px;
            background-color: #0088aa;
        }
        .container-form .ii input{
            width: 105px;
        }
   
    }



 





    
}














  





 
